.App {
  text-align: center;
  background-image: url('/src/images/back8.jpg');
  background-size: cover;
  height: 950px;
}

.table{
  align-items: center;
 width: 99% ; 
 align-content: center;
 width: 99%;
}
table{
  text-align: center;
  margin-left: 200px;
  background-color: rgba(0, 0, 0, 0.534);
  color: wheat;
  width: 70%;
  height: 800px;
  box-shadow: 5px 8px 5px rgb(1, 8, 12);
}

th{
  border: 2px solid gray;
  word-spacing: 30px;
}

button{
  background-image: url('/src/images/back10.jpg');
  background-size: contain;
  border: none;
  color: bisque;
  box-shadow: 2px 3px 2px;
}
h1{
  font-family:'Times New Roman', Times, serif;
  padding-top: 20px;
  color: rgba(58, 3, 3, 0.781);
  font-size: 40px;
}